#Libraries
###Only libraries needed for datascraping are pandas and json

In [ ]:
import pandas as pd
import json

#Dataset

In [ ]:
tmdb_cred = pd.read_csv('creds_tmdb.csv')
tmdb_movie = pd.read_csv('movie_tmdb.csv')

FileNotFoundError: ignored

#Data Visualization

### Visualize TMDB Credit

In [ ]:
tmdb_cred.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

### Visualize TMDB Movie

In [ ]:
tmdb_movie.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

#Helper Functions

In [ ]:
def json_str_conv_movie(convertKey):
  tmdb_movie[convertKey] = tmdb_movie[convertKey].apply(json.loads)

  iterable = zip(tmdb_movie.index, tmdb_movie[convertKey])
  for fInd, element in iterable:
      indexKeyList = []

      elmSize = len(element)
      for innerIndex in range(0, elmSize):
          genre_elem = (element[innerIndex]['name']);
          indexKeyList.append(genre_elem)

      strOfList = str(indexKeyList)
      tmdb_movie.loc[fInd, convertKey] = strOfList

In [ ]:
def json_str_conv_cred(convertKey):
  tmdb_cred[convertKey] = tmdb_cred[convertKey].apply(json.loads)

  iterable = zip(tmdb_cred.index, tmdb_cred[convertKey])
  for fInd, element in iterable:
      indexKeyList = []

      elmSize = len(element)
      for innerIndex in range(0, elmSize):
          genre_elem = (element[innerIndex]['name']);
          indexKeyList.append(genre_elem)

      strOfList = str(indexKeyList)
      tmdb_cred.loc[fInd, convertKey] = strOfList

In [ ]:
def find_dir_crew(elementCp):
    for currElm in elementCp:
        if 'Director' == currElm['job']:
            crewName = currElm['name']
            return crewName

In [ ]:
def crewConv(convertKey, fromKey):
  tmdb_cred[convertKey] = tmdb_cred[convertKey].apply(json.loads)
  tmdb_cred[convertKey] = tmdb_cred[convertKey].apply(find_dir_crew)
  tmdb_cred.rename(columns={'crew':'director'},inplace=True)

#JSON to String Conversion

Convert Genre JSON

In [ ]:
json_str_conv_movie('genres')

Convert KeyWords JSON

In [ ]:
json_str_conv_movie('keywords')

Convert Production Companies JSON

In [ ]:
json_str_conv_movie('production_companies')

Convert Cast JSON

In [ ]:
json_str_conv_cred('cast')

Convert Crew JSON

In [ ]:
crewConv('crew', 'director')

#Display Scraped Data

###Credit Display

In [ ]:
tmdb_cred.iloc[0]

movie_id                                                19995
title                                                  Avatar
cast        ['Sam Worthington', 'Zoe Saldana', 'Sigourney ...
director                                        James Cameron
Name: 0, dtype: object

###Movie Display

In [ ]:
tmdb_movie.iloc[0]

budget                                                          237000000
genres                  ['Action', 'Adventure', 'Fantasy', 'Science Fi...
homepage                                      http://www.avatarmovie.com/
id                                                                  19995
keywords                ['culture clash', 'future', 'space war', 'spac...
original_language                                                      en
original_title                                                     Avatar
overview                In the 22nd century, a paraplegic Marine is di...
popularity                                                     150.437577
production_companies    ['Ingenious Film Partners', 'Twentieth Century...
production_countries    [{"iso_3166_1": "US", "name": "United States o...
release_date                                                   2009-12-10
revenue                                                        2787965087
runtime                                                             162.0
spoken_languages        [{"iso_639_1": "en", "name": "English"}, {"iso...
status                                                           Released
tagline                                       Enter the World of Pandora.
title                                                              Avatar
vote_average                                                          7.2
vote_count                                                          11800
Name: 0, dtype: object

#Merge Movies and Credits

In [ ]:
leftCol = 'id'
rightCol = 'movie_id'

joinOn = 'left'
tmdb_movie_credits = tmdb_movie.merge(tmdb_cred, left_on=leftCol, right_on=rightCol, how=joinOn)

#Merged Movie Display

In [ ]:
tmdb_movie_credits.iloc[0]

budget                                                          237000000
genres                  ['Action', 'Adventure', 'Fantasy', 'Science Fi...
homepage                                      http://www.avatarmovie.com/
id                                                                  19995
keywords                ['culture clash', 'future', 'space war', 'spac...
original_language                                                      en
original_title                                                     Avatar
overview                In the 22nd century, a paraplegic Marine is di...
popularity                                                     150.437577
production_companies    ['Ingenious Film Partners', 'Twentieth Century...
production_countries    [{"iso_3166_1": "US", "name": "United States o...
release_date                                                   2009-12-10
revenue                                                        2787965087
runtime                                                             162.0
spoken_languages        [{"iso_639_1": "en", "name": "English"}, {"iso...
status                                                           Released
tagline                                       Enter the World of Pandora.
title_x                                                            Avatar
vote_average                                                          7.2
vote_count                                                          11800
movie_id                                                            19995
title_y                                                            Avatar
cast                    ['Sam Worthington', 'Zoe Saldana', 'Sigourney ...
director                                                    James Cameron
Name: 0, dtype: object

#Movie Size

In [ ]:
tmdb_movie_credits.size

115272

#Columns

In [ ]:
tmdb_movie_credits.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title_x', 'vote_average',
       'vote_count', 'movie_id', 'title_y', 'cast', 'director'],
      dtype='object')

#Column Data Types

In [ ]:
tmdb_movie_credits.dtypes

budget                    int64
genres                   object
homepage                 object
id                        int64
keywords                 object
original_language        object
original_title           object
overview                 object
popularity              float64
production_companies     object
production_countries     object
release_date             object
revenue                   int64
runtime                 float64
spoken_languages         object
status                   object
tagline                  object
title_x                  object
vote_average            float64
vote_count                int64
movie_id                  int64
title_y                  object
cast                     object
director                 object
dtype: object

#Dataframe to CSV

In [ ]:
tmdb_movie_credits.to_csv('clean_movie_credits_tmdb.csv')

#Filter Merged Movies

In [ ]:
filter_tmdb_movie_credits = tmdb_movie_credits[['id','original_title','genres','cast','vote_average','director','keywords']]

#Merged Movie Display

In [ ]:
filter_tmdb_movie_credits.iloc[0]

id                                                            19995
original_title                                               Avatar
genres            ['Action', 'Adventure', 'Fantasy', 'Science Fi...
cast              ['Sam Worthington', 'Zoe Saldana', 'Sigourney ...
vote_average                                                    7.2
director                                              James Cameron
keywords          ['culture clash', 'future', 'space war', 'spac...
Name: 0, dtype: object

#Merged Movie Size

In [ ]:
filter_tmdb_movie_credits.size

33621

#Merged Movie Columns

In [ ]:
filter_tmdb_movie_credits.columns

Index(['id', 'original_title', 'genres', 'cast', 'vote_average', 'director',
       'keywords'],
      dtype='object')

#Merged Movie Data Types

In [ ]:
filter_tmdb_movie_credits.dtypes

id                  int64
original_title     object
genres             object
cast               object
vote_average      float64
director           object
keywords           object
dtype: object

#Dataframe to CSV

In [ ]:
filter_tmdb_movie_credits.to_csv('filtered_clean_movie_credits_tmdb.csv')